<div class="container mat-elevation-z8">
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="onAddUser()">Créer un utilisateur</button>
    </div>

    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Email </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.mail}} </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Roles </th>
        <td mat-cell *matCellDef="let element"  class="text-center">
          <mat-label class="text-white" style="margin-right: 2px; background-color: mediumblue"
                     *ngFor="let role of element.roles">{{role.roleName}} </mat-label>
        </td>
      </ng-container>

<!--      <ng-container matColumnDef="etat">-->
<!--        <th mat-header-cell *matHeaderCellDef class="text-center"> Etat </th>-->
<!--        <td mat-cell *matCellDef="let element" class="text-center"> {{element.pages}} </td>-->
<!--      </ng-container>-->

      <!-- Action-->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button mat-button (click)="onModifyUser(element)" style="color: blue;">
            <mat-icon inline=true>create</mat-icon>
          </button>
          <button mat-button (click)="onDeleteUser(element.mail)" style="color: red;">
            <mat-icon inline=true>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
