  <!--  Formulaire d'ajout de production-->
  <!-- <div class="container mat-elevation-z8"> -->
    <mat-toolbar>
      <span>Création compte</span>
    </mat-toolbar>
    <mat-card class="my-card full-width">
      <div mat-dialog-content [formGroup]="form">

        <div class="row">
          <mat-form-field class="col-6">
            <mat-label>Prenom</mat-label>
            <input  matInput  placeholder="Prenom" formControlName="prenom">
          <mat-error *ngIf="hasError('prenom', 'required')">Prenom is required</mat-error>
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Nom</mat-label>
            <input  matInput  placeholder="Nom" formControlName="nom">
            <mat-error *ngIf="hasError('nom', 'required')">Nom is required</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input  matInput  placeholder="Email" formControlName="mail">
          <mat-error *ngIf="hasError('mail', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('mail', 'email')">Email is not valid</mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input  matInput  placeholder="Password" formControlName="password">
          <mat-error *ngIf="hasError('password1', 'required')">Password is required</mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-select multiple placeholder="Renseigner profil" formControlName="rolesSelected">
            <mat-option *ngFor="let role of data.roles" [value]="role.roleName" >
              {{role.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div mat-dialog-actions>
        <!--REGISTER BUTTON HERE-->
        <button mat-raised-button style="background-color: green; color: white;" (click)="onSubmit()" [disabled]="!form.valid">
          Valider
        </button>
        <button mat-raised-button color="warn" (click)="onCancel()" >Annuler</button>

      </div>
    </mat-card>
  <!-- </div> -->
