<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/"> Acceuil </a>

      <a mat-button [matMenuTriggerFor]="menu">Production</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/production','pub']">Publications</button>
        <button mat-menu-item [routerLink]="['/production','com']">Communications</button>
      </mat-menu>

      <a mat-button routerLink="/appeloffre"> Appel d'offre </a>

      <a mat-button [matMenuTriggerFor]="menuStruct">Structure</a>
      <mat-menu #menuStruct="matMenu">
        <button mat-menu-item routerLink="structures"> Unités de recherche </button>
        <button mat-menu-item [routerLink]="['/production','com']"> Ecole doctorale </button>
      </mat-menu>

      <a mat-button [matMenuTriggerFor]="menuProd">Gestion production</a>
      <mat-menu #menuProd="matMenu">
        <button mat-menu-item [routerLink]="['/productions','Publication']">Conculter publications</button>
        <button mat-menu-item [routerLink]="['/productions','Communication']">Consulter communications</button>
      </mat-menu>

      <a mat-button [matMenuTriggerFor]="menuAdmin" style="margin-right: 50px">Administrateur</a>
      <mat-menu #menuAdmin="matMenu">
        <button mat-menu-item routerLink="/users">Gestion des utlisateurs</button>
        <button mat-menu-item routerLink="/chercheurs">Gestion des chercheurs</button>
        <button mat-menu-item routerLink="/infos-chercheurs">Gestion des infos chercheurs</button>
      </mat-menu>

      <a mat-button *ngIf="!isAuthenticated()" routerLink="/login">
        Se connecter <mat-icon>touch_app</mat-icon>
      </a>
      <a mat-button *ngIf="isAuthenticated()" [matMenuTriggerFor]="menuLogin" style="color: whitesmoke">
        {{ authenticationService.getUsername() }}
        <mat-icon>perm_identity</mat-icon>
      </a>
      <mat-menu #menuLogin="matMenu">
        <button mat-menu-item (click)="logOut()"> <mat-icon>logout</mat-icon>Se déconnecter</button>
        <button mat-menu-item><mat-icon>autorenew</mat-icon>Changer mot de passe</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item routerLink="/login"> Se connecter </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
