<div class="container" style="margin-top: 20px">
  <div  *ngIf="show=='pub'">
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <div class="row">
      <div class="col-4" *ngFor="let pub of obs | async">
          <mat-card class="example-card" style="margin: 10px">
            <!--  <img mat-card-image src="../../assets/logo.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-header>
              <div mat-card-avatar class="avatarImage"></div>
              <mat-card-title>{{pub.nomThematique}}</mat-card-title>
              <mat-card-subtitle>{{pub.typeProduction.libelecourt|uppercase}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <!--            <h6>{{pub.libelelong.substring(0,140)}}...</h6>-->
              <h6>{{pub.libelelong}}</h6>
              <p class="font-weight-bold card-text">Volumes : {{pub.numvol}}</p>
              <p class="font-weight-bold card-text">Pages : {{pub.pages}}</p>
            </mat-card-content>
            <mat-card-footer class="text-center">
              <h6 style="font-size: 12px; font-style: oblique">{{pub.datemiseenligne | date}}</h6>
            </mat-card-footer>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onDetailPublication(pub.idProduction)">Détails</button>
              <button mat-raised-button color="accent" (click)="onDonwload(pub.fichier)">Télécharger</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
  <mat-paginator [hidden]="show != 'pub'" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
